a{
  text-decoration: none;
}

img{
  height:  100%;
}

body{
  color: white;
}

nav{
    background-color: rgb(168, 166, 166);
    height: 15vh;
    display: flex;
    align-items: center;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    text-align: center;
}

.highlight-button {
    border: 1px solid black;
    height: 40px;
    border-radius: 11px;
}

input {
    height: 60%;
    width: 30vw;
    margin-right: 20px;
    border-radius: 11px;
}

.navbar {
  margin: 0 20px 0 20px;
  width: 70vw;
}

.contianer{
  display: grid;
  grid-template-columns: 1fr 1fr;
    background: #333;
}


.contianer header {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0px;
}


.articles-header{
  grid-column: 2/3;
  justify-content: center;
}

.articles-img{
  grid-column: 3/4;
  justify-content: flex-end;
  margin-right: 50px;
  margin-left: auto;
  height: 85px;
}

article{
  width: 100%;
  background: #333;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.author-section{
  height: 85px;
  align-content: center;

}
.author-section span{
  margin-top: 30px;
}

.title{
  font-size: 55px;
  font-weight: 700;
  margin: 50px 150px 50px 0px;

}

article h1{

}


/* Helper Classes */
.flex { display: flex;}
.flex-center {justify-items: center;}
.grid{display: grid;}
